In [ ]:
# 1.	Perform	the	following	operations	using	Python	on	dataset Salary_Data.csv (Experience, Salary)
# 2.	Print all data from Salary_Data.csv
# 3.	Find the empty cell from Salary_Data.csv
# 4.	Count the missing values from column Experience
# 5.	List the Descriptive Statistics for given dataset
# 6.	Reset the default index of given dataset

In [20]:
import pandas as pd
import numpy as np

In [19]:
# Print all data from Salary_Data.csv
df=pd.read_csv('Salary_Data.csv')
# df
print(df)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2       NaN
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              NaN   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1       NaN
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              NaN   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [18]:
#3.	Find the empty cell from Salary_Data.csv

df = pd.read_csv('Salary_Data.csv')

# Find empty cells
empty_cells = df.isnull().any()
empty_cells
null_values = df[df["Salary"].isnull() | df["YearsExperience"].isnull()]
print(null_values)

    YearsExperience   Salary
8               3.2      NaN
12              NaN  56957.0
16              5.1      NaN
20              NaN  91738.0

In [8]:
#4.	Count the missing values from column Experience
df['YearsExperience'].isnull().sum()

0

In [23]:
#5.	List the Descriptive Statistics for given dataset
df=pd.read_csv('Salary_Data.csv')
description=df.describe();
print(description)
all_desc=df.describe(include='all')
print(all_desc)

       YearsExperience         Salary
count        28.000000      28.000000
mean          5.307143   76772.000000
std           2.916229   28248.468791
min           1.100000   37731.000000
25%           3.150000   56430.000000
50%           4.700000   65578.000000
75%           7.975000  102372.000000
max          10.500000  122391.000000
       YearsExperience         Salary
count        28.000000      28.000000
mean          5.307143   76772.000000
std           2.916229   28248.468791
min           1.100000   37731.000000
25%           3.150000   56430.000000
50%           4.700000   65578.000000
75%           7.975000  102372.000000
max          10.500000  122391.000000

In [22]:
#6.	Reset the default index of given dataset
df.reset_index(drop=True, inplace=True)
df.index = df.index + 1

print(df)

    YearsExperience    Salary
1               1.1   39343.0
2               1.3   46205.0
3               1.5   37731.0
4               2.0   43525.0
5               2.2   39891.0
6               2.9   56642.0
7               3.0   60150.0
8               3.2   54445.0
9               3.2       NaN
10              3.7   57189.0
11              3.9   63218.0
12              4.0   55794.0
13              NaN   56957.0
14              4.1   57081.0
15              4.5   61111.0
16              4.9   67938.0
17              5.1       NaN
18              5.3   83088.0
19              5.9   81363.0
20              6.0   93940.0
21              NaN   91738.0
22              7.1   98273.0
23              7.9  101302.0
24              8.2  113812.0
25              8.7  109431.0
26              9.0  105582.0
27              9.5  116969.0
28              9.6  112635.0
29             10.3  122391.0
30             10.5  121872.0

In [17]:
# reset_index(): This is a method provided by pandas DataFrame objects to reset the index of the DataFrame. By default, it moves the current index to a new column and resets the index to the default integer index (starting from 0).
# drop=True: This parameter is set to True to drop the current index column after resetting the index. If it's set to False or omitted, the current index will be retained as a new column in the DataFrame.
# inplace=True: This parameter is set to True to modify the DataFrame in place, meaning that the operation will be performed on the DataFrame itself and won't return a new DataFrame. If it's set to False, a new DataFrame with the reset index will be returned.