In [1]:
# Create a Data Frame Product (Product_Name, Price) with some missing values and perform following operation on it.

# 1.	Count missing values under the column Product_Name.
# 2.	Count missing values under the entire data frame Product.
# 3.	Count missing values under the entire row.
# 4.	Count missing values across the row with index of 7.
# 5.	To remove the duplicates across the columns of Product_Name

In [2]:
#create a dataframe
import pandas as pd
data={'Product':['A','B','C','D','E'],
      'Price':[33,43,54,23,54]}
df=pd.DataFrame(data)
df

  Product  Price
0       A     33
1       B     43
2       C     54
3       D     23
4       E     54

In [36]:
import numpy as np
data={"Product":['A',np.nan,'C','D','E',np.nan,'G','C'],
      "Price":[44,np.nan,33,65,23,65,np.nan,22]}
df=pd.DataFrame(data)
df

  Product  Price
0       A   44.0
1     NaN    NaN
2       C   33.0
3       D   65.0
4       E   23.0
5     NaN   65.0
6       G    NaN
7       C   22.0

In [6]:
# 1.	Count missing values under the column Product_Name.
missing_product_name=df[df["Product"].isnull()]
print(missing_product_name)

  Product  Price
1     NaN    NaN
5     NaN   65.0

In [11]:
# # 1.	Count missing values under the column Product_Name.
count_missing_product_name=(df['Product'].isnull().sum())
print(count_missing_product_name)

2

In [12]:
# 1.	Count missing values under the column price.

count_missing_price=(df['Price'].isnull().sum())
print(count_missing_price)

2

In [16]:
# 3.	Count missing values under the entire row.
missing_value_in_entire_row=(df[df['Price'].isnull() & df['Product'].isnull()])
missing_value_in_entire_row

  Product  Price
1     NaN    NaN

In [21]:
count_missing_value_in_entire_row=((df['Price'].isnull()&df['Product'].isnull()).sum())
print(count_missing_value_in_entire_row)

1

In [32]:
# 4.	Count missing values across the row with index of 7.
count_mising_acc_7_row=df.iloc[6]
count_mising_acc_7_row

Product      G
Price      NaN
Name: 6, dtype: object

In [35]:
# 4.	Count missing values across the row with index of 7.
count_mising_acc_7_row=df.iloc[0].isnull().sum()
count_mising_acc_7_row

0

In [37]:
# 5.	To remove the duplicates across the columns of Product_Name
unique_products = df.drop_duplicates(subset=['Product'])
unique_products

  Product  Price
0       A   44.0
1     NaN    NaN
2       C   33.0
3       D   65.0
4       E   23.0
6       G    NaN