In [1]:
# 2.	Write a Python program to display some basic statistical details like standard deviation, mean, standard deviation etc.
# of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csv dataset.

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
import pandas as pd
from pandas.api.types import is_numeric_dtype
data=pd.read_csv("iris.csv")
for col in data.columns:
    if is_numeric_dtype(data[col]):
        print("%s:" % (col))
        print("\t Mean=%.2f"%data[col].mean())
        print("\t Min=%.2f"%data[col].min())
        print("\t Max=%.2f"%data[col].max())
        print("\t STD=%.2f"%data[col].std())

sepal.length:
	 Mean=5.84
	 Min=4.30
	 Max=7.90
	 STD=0.83
sepal.width:
	 Mean=3.06
	 Min=2.00
	 Max=4.40
	 STD=0.44
petal.length:
	 Mean=3.76
	 Min=1.00
	 Max=6.90
	 STD=1.77
petal.width:
	 Mean=1.20
	 Min=0.10
	 Max=2.50
	 STD=0.76

In [35]:
#standard deviation, mean, max , min of  iris_setosa
setosa_df=data[data['variety']=='Setosa']
print(setosa_df.describe())
setosa_df.head()

       sepal.length  sepal.width  petal.length  petal.width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [36]:
setosa_mean=setosa_df[['sepal.length','sepal.width','petal.length','petal.width']].mean()
print(setosa_mean)

sepal.length    5.006
sepal.width     3.428
petal.length    1.462
petal.width     0.246
dtype: float64

In [37]:
setosa_std=setosa_df[['sepal.length','sepal.width','petal.length','petal.width']].std()
print(setosa_std)

sepal.length    0.352490
sepal.width     0.379064
petal.length    0.173664
petal.width     0.105386
dtype: float64

In [38]:
setosa_min=setosa_df[['sepal.length','sepal.width','petal.length','petal.width']].min()
print(setosa_min)

sepal.length    4.3
sepal.width     2.3
petal.length    1.0
petal.width     0.1
dtype: float64

In [39]:
setosa_max=setosa_df[['sepal.length','sepal.width','petal.length','petal.width']].max()
print(setosa_max)

sepal.length    5.8
sepal.width     4.4
petal.length    1.9
petal.width     0.6
dtype: float64

In [30]:
#standard deviation, mean, max , min of  iris_versicolor
versicolor_df=data[data['variety']=="Versicolor"]
versicolor_df
versicolor_df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [32]:
versicolor_mean=versicolor_df[['sepal.length','sepal.width','petal.length','petal.width']].mean()
print(versicolor_mean)

sepal.length    5.936
sepal.width     2.770
petal.length    4.260
petal.width     1.326
dtype: float64

In [40]:
versicolor_std=versicolor_df[['sepal.length','sepal.width','petal.length','petal.width']].std()
print(versicolor_std)

sepal.length    0.516171
sepal.width     0.313798
petal.length    0.469911
petal.width     0.197753
dtype: float64

In [41]:
versicolor_min=versicolor_df[['sepal.length','sepal.width','petal.length','petal.width']].min()
print(versicolor_min)

sepal.length    4.9
sepal.width     2.0
petal.length    3.0
petal.width     1.0
dtype: float64

In [44]:
#standard deviation, mean, max , min of  iris_virginica
virginica_df=data[data['variety']=="Virginica"]
print(virginica_df)
virginica_df.describe()

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica
105           7.6          3.0           6.6          2.1  Virginica
106           4.9          2.5           4.5          1.7  Virginica
107           7.3          2.9           6.3          1.8  Virginica
108           6.7          2.5           5.8          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
110           6.5          3.2           5.1          2.0  Virginica
111           6.4          2.7           5.3          1.9  Virginica
112           6.8          3.0           5.5          2.1  Virginica
113           5.7          2.5           5.0          2.0  Virginica
114           5.8          2.8           5.1          2.4  Virginica
115           6.4          3.2           5.3          2.3  Virginica
116           6.5          3.0           5.5          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
119           6.0          2.2           5.0          1.5  Virginica
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.6          3.0           5.1          1.8  Virginica

       sepal.length  sepal.width  petal.length  petal.width
count     50.000000    50.000000     50.000000     50.00000
mean       6.582000     2.974000      5.552000      2.02600
std        0.643869     0.322497      0.551895      0.27465
min        4.900000     2.200000      4.500000      1.40000
25%        6.225000     2.800000      5.100000      1.80000
50%        6.500000     3.000000      5.550000      2.00000
75%        6.900000     3.175000      5.875000      2.30000
max        7.900000     3.800000      6.900000      2.50000

In [45]:
virginica_mean=virginica_df[['sepal.length','sepal.width','petal.length','petal.width']].std()
print(virginica_mean)

sepal.length    0.643869
sepal.width     0.322497
petal.length    0.551895
petal.width     0.274650
dtype: float64

In [46]:
virginica_std=virginica_df[['sepal.length','sepal.width','petal.length','petal.width']].std()
print(virginica_std)

sepal.length    0.643869
sepal.width     0.322497
petal.length    0.551895
petal.width     0.274650
dtype: float64